<%= fields_for parent_model do |f| %>
    <%= f.fields_for :category_exclusions, exclusions, child_index: child_index  do |exc| %>
        <div class='form-fields'>
            <label>
                <span>Category:</span>
                <%= exc.select :category, Transaction.categories.sort.collect { |c| [c.titleize, c] } %>

                <span>Excluded From:</span>
                <%= exc.select :excluded_from, [['All', 'all']], placeholder: true %>

                <% if exc.object.persisted? %>
                    <span>Delete:</span> <%= exc.check_box :_destroy%>
                <% end %>
            </label>
        </div>
    <% end %>
<% end %>
