<% exclusion_opts = [
    ['All', 'all'],
    ['Weekly Totals', 'week_total'],
    ['Ledger Summaries', 'ledger_summary']
] %>

<%= fields_for parent_model do |f| %>
    <%= f.fields_for :category_exclusions, exclusions, child_index: child_index  do |exc| %>
        <div class='form-fields'>
            <label>
                <span>Category:</span>
                <%= exc.select :category, Transaction.categories.sort.collect { |c| [c.titleize, c] } %>

                <span>Excluded From:</span>
                <%= exc.select :excluded_from, exclusion_opts, placeholder: true %>

                <% if exc.object.persisted? %>
                    <span>Delete:</span> <%= exc.check_box :_destroy%>
                <% else %>
                    <a class="remove" onclick="$(this).closest('.form-fields').remove()">
                        <%= render 'shared/icon', name: 'cross' %>
                    </a>
                <% end %>
            </label>
        </div>
    <% end %>
<% end %>
