<%= form_for(budget) do |f| %>
    <% if budget.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

            <ul>
                <% budget.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div>
        <%= f.label :name do %>
            <span>Name:</span>
            <%= f.text_field :name %>
        <% end %>
    </div>

    <div>
        <%= f.label :initial_balance do %>
            <span>Initial Balance:</span>
            <%= f.text_field :initial_balance %>
        <% end %>
    </div>

    <div>
        <%= f.label :start_date do %>
            <span>Start of Period:</span>
            <%= f.date_field :start_date %>
        <% end %>

        <%= f.label :end_date do %>
            <span>End of Period:</span>
            <%= f.date_field :end_date %>
        <% end %>
    </div>

    <div>
        <%= f.label :budget_ledgers do %>
            <span>Ledgers:</span>
            <ul id="budget-ledgers-container">
                <%= render 'ledger_select', budget: budget, budget_ledgers: budget.budget_ledgers, child_index: nil %>
            </ul>
            <a id="add-ledger-select" class="button">Add Ledger</a>
        <% end %>
    </div>

    <br>

    <div>
        <%= f.label :budget_expenses do %>
            <span>Expenses:</span>
            <table id="budget-expenses-container">
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Comments</th>
                    <th></th>
                </tr>
                <%= render 'budget_expense', budget: budget, budget_expenses: budget.budget_expenses.order(date: :asc), child_index: nil %>
            </table>
            <a id="add-budget-expense" class="button">Add Expense</a>
        <% end %>
    </div>

    <br>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
