<p id="notice"><%= notice %></p>

<% headers = %w[week description original-amount actual-amount comments] %>

<table class="budget">
    <thead>
        <tr>
            <% headers.each do |text| %>
                <%= content_tag :th, text.titleize %>
            <% end %>
        </tr>
    </thead>

    <tbody>
        <% @totals.each do |i, total| %>
            <tr class="section section--start"><td colspan="5"></td></tr>
            <% rows = convert_totals_to_rows(@budget, total) %>
            <% rows.each do |row| %>
                <%= content_tag :tr, data: Hash[headers[1..-1].zip(row)] do %>
                    <% if row == rows.first %>
                        <%= content_tag :td, total[:date_range].join(' - '), rowspan: rows.length, class: headers[0] %>
                    <% end %>
                    <% row.each_with_index do |data, i| %>
                        <%= content_tag :td, data, class: headers[i + 1] %>
                    <% end %>
                <% end %>
            <% end %>
            <tr class="section section--end"><td colspan="5"></td></tr>
        <% end %>
    </tbody>
</table>
