<p id="notice"><%= notice %></p>

<% headers = %w[week description anticipated_amount actual_amount balance comments] %>

<table class="budget">
    <thead>
        <tr>
            <% headers.each do |text| %>
                <%= content_tag :th, text.titleize %>
            <% end %>
        </tr>
    </thead>

    <tbody>
        <tr class="section section--start">
            <%= content_tag :td, '', colSpan: headers.length %>
        </tr>
        <tr>
            <%= content_tag :td, '' %>
            <%= content_tag :td, 'Initial Balance' %>
            <%= content_tag :td, '-', class: 'anticipated-amount' %>
            <%= content_tag :td, '-', class: 'actual-amount' %>
            <%= content_tag :td, display_value(@budget.initial_balance), class: 'balance' %>
            <%= content_tag :td, '' %>
        </tr>
        <tr class="section section--start">
            <%= content_tag :td, '', colSpan: headers.length %>
        </tr>

        <% process_totals(@budget, @totals).each do |section| %>
            <tr class="section section--start">
                <%= content_tag :td, '', colSpan: headers.length %>
            </tr>

            <% section.rows.each do |row| %>
                <%= content_tag :tr, data: row.attributes do %>
                    <% if row == section.rows.first %>
                        <%= content_tag :td, section.date_range.join(' - '), rowspan: section.rows.length, class: headers[0] %>
                    <% end %>
                    <% headers[1..-1].each do |attribute| %>
                        <%= content_tag :td, display_value(row.attributes[attribute.to_sym], dash_zero_value: true), class: attribute.dasherize %>
                    <% end %>
                <% end %>
            <% end %>

            <tr class="section section--start">
                <%= content_tag :td, '', colSpan: headers.length %>
            </tr>
        <% end %>
    </tbody>
</table>
