<%= form_for @ledger do |f| %>

    <% if @ledger.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@ledger.errors.count, "error") %> prohibited
                this article from being saved:
            </h2>
            <ul>
                <% @ledger.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div>
        <h4>Ledger Parameters</h4>
        <%= f.label :name do %>
            <span>Name:</span>
            <%= f.text_field :name %>
         <% end %>
    </div>

    <br>
    <div>
        <h4>Data Upload Parameters</h4>
        <%= f.fields_for :ledger_uploads,  @ledger.ledger_uploads.build do |upload| %>
            <%= upload.label :account do %>
                <span>Account Name:</span>
                <%= upload.text_field :account %>
            <% end %>

            <%= upload.label :data_source do %>
                <span>Data Source:</span>
                <%= upload.file_field :data_source %>
            <% end %>
            
            <%= upload.label :upload_format do %>
                <span>Data Format:</span>
                <%= upload.select :upload_format, parser_options %>
            <% end %>
        <% end %>
    </div>

    <br>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>

<br>
