<div id="previous-uploads">
    <h4>Previous Uploads</h4>
    <ul>
        <% @ledger.ledger_uploads.each do |upload| %>
            <li>
                <span>Data Source:</span><%= upload.data_source %>
                <br>
                <span>Uploaded on:</span><%= upload.created_at.localtime %>
                <br>
                <%= link_to 'Modify Transactions', [:edit, @ledger, upload] %>
                <hr>
            </li>
        <% end %>
    </ul>
</div>

<%= form_for @ledger do |f| %>

    <% if @ledger.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@ledger.errors.count, "error") %> prohibited
                this article from being saved:
            </h2>
            <ul>
                <% @ledger.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        <%= f.label :name %>
        <br>
        <%= f.text_field :name %>
    </p>

    <p>
        <%= f.fields_for :ledger_uploads,  @ledger.ledger_uploads.build do |upload| %>
            <%= upload.label :data_source %>
            <br>
            <%= upload.text_field :data_source %>
            <br>
        <% end %>
    </p>

    <p>
        <%= f.submit %>
    </p>
<% end %>
