<table>
  <tr>
    <th>Name</th>
    <th>Last Data Upload</th>
    <th colSpan="3"></th>
  </tr>

  <% ledgers.each do |ledger| %>
    <tr>
      <td><%= ledger.name %></td>
      <td><%= ledger.updated_at.localtime %></td>
      <td><%= link_to 'Show', ledger %></td>
      <td><%= link_to 'Edit', [:edit, ledger] %></td>
      <td><%= link_to 'Delete', ledger,
                       method: :delete,
                       data: { confirm: 'Confirm deletion of ledger' } %></td>
    </tr>
  <% end %>
</table>
