<% @page_heading = 'Listing Available Ledgers' %>

<table>
  <tr>
    <th>Name</th>
    <th>Last Data Upload</th>
    <th colSpan="3"></th>
  </tr>

  <% @ledgers.each do |ledger| %>
    <tr>
      <td><%= ledger.name %></td>
      <td><%= ledger.updated_at.localtime %></td>
      <td><%= link_to 'Show', ledger_path(ledger) %></td>
      <td><%= link_to 'Edit', edit_ledger_path(ledger) %></td>
      <td><%= link_to 'Delete', ledger_path(ledger),
              method: :delete,
              data: { confirm: 'Confirm deletion of ledger' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'New Ledger', new_ledger_path %>
