<span style="width: 10em">
    <strong>Name:</strong>
    <%= @ledger.name%>
</span>
<span style="width: 10em">
    <strong>Last Updated:</strong>
    <%= @ledger.updated_at.localtime%>
</span>
<br>
<%= link_to 'Back', ledgers_path %>
<br>
<%= link_to 'Upload Data', [:edit, @ledger] %>
<br>
<%= link_to 'View All Uploads',  [@ledger, :ledger_uploads] %>
<br>
<br>

<table id="ledger">
  <tr>
    <% @column_names.each do |col| %>
      <th>
        <%= col.titlecase() %>
      </th>
    <% end %>
    <% @totals_column_names.each do |col| %>
      <th>
        <%= col.titlecase() %>
      </th>
    <% end %>
  </tr>

  <%= render partial: 'transactions/transaction', collection: @transactions %>

</table>

<br>
<br>
<%= link_to 'Back', ledgers_path %>
<br>
<%= link_to 'Upload Data', [:edit, @ledger] %>
<br>
<%= link_to 'View All Uploads',  [@ledger, :ledger_uploads] %>
