<br>

<div class="ledger-summary">

    <div>
        <table class="total-expenses">
            <tr><th colspan="3">Total Expenses</th></tr>
            <tr>
                <th colspan="2">Category:</th>
                <th>Amount:</th>
            </tr>

            <% CategorySummary.sort_summaries_by(@overall_totals[:expense_summaries], :sum).each do |key, summary| %>
                <tr>
                    <td colspan="2">
                        <%= key %>
                        <%= content_tag :a, 'More', data: { key: key.parameterize } if summary.subcategory_summaries %>
                    </td>
                    <td><%= display_value(summary.sum) %></td>
                </tr>
                <% if summary.subcategory_summaries %>
                    <% summary.subcategory_summaries.each do |sub_key, sub_summary| %>
                        <tr data-parent-key="<%= key.parameterize %>" style="display: none;">
                            <td></td>
                            <td><%= sub_key %></td>
                            <td><%= display_value(sub_summary.sum) %></td>
                        </tr>
                    <% end %>
                <% end %>
            <% end %>

            <tr class="totals-row">
                <td colspan="2">Overall Total:</td>
                <td><%= display_value(@overall_totals[:total_expenses]) %></td>
            </tr>
        </table>
    </div>

    <div>
        <table class="total-deposits">
            <tr><th colspan="2">Total Deposits</th></tr>
            <tr>
                <th>Source:</th>
                <th>Amount:</th>
            </tr>

            <% CategorySummary.sort_summaries_by(@overall_totals[:deposit_summaries], :sum).each do |key, summary| %>
                <tr>
                    <td><%= key %></td>
                    <td><%= display_value(summary.sum) %></td>
                </tr>
            <% end %>

            <tr class="totals-row">
                <td>Overall Total:</td>
                <td><%= display_value(@overall_totals[:total_deposits]) %></td>
            </tr>
        </table>
    </div>


    <div>
        <table class="average-expenses">
            <tr><th colspan="4">Average Expenses (<%= @totals.length %> Weeks)</th></tr>
            <tr>
                <th colspan="2">Category:</th>
                <th>Average:</th>
                <th>Average per Week:</th>
            </tr>

            <% CategorySummary.sort_summaries_by(@overall_totals[:expense_summaries], :average_per_week).each do |key, summary| %>
                <tr>
                    <td colspan="2">
                        <%= "#{key} (#{summary.transactions.length})" %>
                        <%= content_tag :a, 'More', data: { key: key.parameterize } if summary.subcategory_summaries %>
                    </td>
                    <td><%= display_value(summary.average) %></td>
                    <td><%= display_value(summary.average_per_week) %></td>
                </tr>
                <% if summary.subcategory_summaries %>
                    <% summary.subcategory_summaries(sort_by: :average_per_week).each do |sub_key, sub_summary| %>
                        <tr data-parent-key="<%= key.parameterize %>" style="display: none;">
                            <td></td>
                            <td><%= "#{sub_key} (#{sub_summary.transactions.length})" %></td>
                            <td><%= display_value(sub_summary.average) %></td>
                            <td><%= display_value(sub_summary.average_per_week) %></td>
                        </tr>
                    <% end %>
                <% end %>
            <% end %>

            <tr class="totals-row">
                <td colspan="3">Overall Average per Week:</td>
                <td><%= display_value(@overall_totals[:weekly_average]) %></td>
            </tr>
        </table>
    </div>


    <div>
        <table>
            <tr><th colspan="3">Average Deposits (<%= @totals.length %> Weeks)</th></tr>
            <tr>
                <th>Source:</th>
                <th>Average:</th>
                <th>Average per Week:</th>
            </tr>

            <% CategorySummary.sort_summaries_by(@overall_totals[:deposit_summaries], :average).each do |key, summary| %>
                <tr>
                    <td><%= "#{key} (#{summary.transactions.length})" %></td>
                    <td><%= display_value(summary.average) %></td>
                    <td><%= display_value(summary.average_per_week) %></td>
                </tr>
            <% end %>

            <tr class="totals-row">
                <td colspan="2">Overall Average per Week:</td>
                <td><%= display_value(@overall_totals[:week_averaged_deposits]) %></td>
            </tr>
        </table>
    </div>
</div>

<div class="ledger-summary-charts">
    <% categories = @ledger.transactions.pluck(:category).uniq.sort %>
    <% data = categories.each_with_object({}) { |cat, hash| hash[cat] = {} } %>
    <% data = @totals.values.each_with_object(data) { |t, hash| categories.each { |cat| hash[cat][t.date_range[1]] = display_value(t.category_total(cat).sum.abs) } } %>
    <% data = data.except('Discover', 'Budgeted', 'Deposit') %>
    <% data = data.map { |k, v| { name: k, data: v } } %>
    <%= area_chart data, stacked: true, xtitle: "Date", ytitle: "Category Total [$]"  %>
<div>

<br>
<br>
