<% rowspan =  %>

<%= content_tag :td, id: "row-#{transaction_counter}-week_total", rowSpan: week_total.rowspan, class: 'totals-cell' do -%>
    <%= display_value(week_total.total) %>
<% end %>

<%= content_tag :td, id: "row-#{transaction_counter}-total_deficit", rowSpan: week_total.rowspan, class: 'totals-cell' do -%>
    <%= display_value(week_total.total_deficit) %>
<% end %>

<%= content_tag :td, id: "row-#{transaction_counter}-category_totals", rowSpan: week_total.rowspan, class: 'totals-cell' do -%>
    <ul>
        <% week_total.categories.each do |cat| %>
            <li><span><%= cat + ':' %></span><%= display_value(week_total.category_total(cat)) %></li>
        <% end %>
    </ul>
<% end %>
