<table class="ledger">
    <tr>
        <% @column_names.each do |col| %>
            <th><%= col.titlecase() %></th>
        <% end %>
        <th class="spacer"></th>
    </tr>

    <%= content_tag :tr, id: "dupe-row-#{0}", data: @transaction.attributes do -%>
        <%= render 'data', columns: @column_names, transaction: @transaction, transaction_counter: 0 %>
    <% end %>

    <tr>
        <%= content_tag :td, 'Duplicates:', colSpan: @column_names.length + 1, class: 'spacer' %>
    </tr>

    <% @transaction.possible_dupes.each_with_index do |trans, i| %>
        <%= content_tag :tr, id: "dupe-row-#{i + 1}", data: trans.attributes do -%>
            <%= render 'data', columns: @column_names, transaction: trans, transaction_counter: i + 1 %>
            <%= content_tag :td, class: 'spacer' do %>
                <%= link_to 'Delete', trans, method: :delete, data: { confirm: 'Confirm deletion of ledger' } %>
            <% end %>
        <% end %>
    <% end %>

</table>

<br>

<div id="transaction-details-container"></div>
