<%= form_for [@ledger, @upload] do |f| %>
    <table>
        <tr>
            <th style="border: none"></th>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Balance</th>
            <th>Account</th>
            <th>Validated</th>
            <th>Category</th>
            <th>Subcategory</th>
            <th>Comments</th>
        </tr>
        <%= f.fields_for(:transactions) do |trans| %>
            <tr>
                <td style="border: none">
                    <% unless trans.object.possible_dupes.empty? -%>
                        <%= link_to '!', [:duplicates, trans.object] %>
                    <% end %>
                </td>
                <td><%= trans.text_field :date, class: 'small'%></td>
                <td><%= trans.text_field :description %></td>
                <td><%= trans.text_field :amount, class: 'medium' %></td>
                <td><%= trans.text_field :balance, class: 'medium' %></td>
                <td><%= trans.text_field :account, class: 'medium' %></td>
                <td style="text-align: center"><%= trans.check_box :validated %></td>
                <td><%= trans.text_field :category, class: 'medium' %></td>
                <td><%= trans.text_field :subcategory, class: 'medium' %></td>
                <td><%= trans.text_field :comments, class: 'medium' %></td>
                <td style="border: none">Delete: <%= trans.check_box :_destroy %></td>
            </tr>
        <% end %>
    </table>
    <br>
    <%= f.submit %>
    <%= link_to 'Delete Ledger Upload', [@ledger, @upload], method: :delete, class: 'button', data: { confirm: 'Confirm deletion of upload' } %>
<% end %>
