<% @page_heading =  "Listing Uploads For Ledger #{@ledger.name}"%>
<%= link_to 'Show Ledger', @ledger %>
<br>
<%= link_to 'Upload Data', [:edit, @ledger] %>


<table>
  <tr>
    <th>Data Source</th>
    <th>Upload Date</th>
    <th colSpan="3"></th>
  </tr>

  <% @uploads.each do |upload| %>
    <tr>
      <td><%= upload.data_source %></td>
      <td><%= upload.created_at.localtime %></td>
      <td><%= link_to 'Show', [@ledger, upload] %></td>
      <td><%= link_to 'Edit', [:edit, @ledger, upload] %></td>
      <td><%= link_to 'Delete', [@ledger, upload], method: :delete, data: { confirm: 'Confirm deletion of upload' } %></td>
    </tr>
  <% end %>
</table>
<%# link_to 'New Ledger', new_ledger_path %>
