<span style="width: 10em">
    <strong>Data Source:</strong>
    <%= @upload.data_source%>
</span>
<span style="width: 10em">
    <strong>Date Uploaded:</strong>
    <%= @upload.created_at.localtime%>
</span>
<span style="width: 10em">
    <strong>Last Updated:</strong>
    <%= @ledger.updated_at.localtime%>
</span>
<br>
<%= link_to 'View Ledger', @ledger %>
<br>
<%= link_to 'View All Uploads', [@ledger, :ledger_uploads] %>
<br>
<br>

<table id="ledger">
  <tr>
    <% @column_names.each do |col| %>
      <th>
        <%= col.titlecase() %>
      </th>
    <% end %>
  </tr>

  <%= render partial: 'transactions/transaction', collection: @upload.transactions %>

</table>
